{% extends "cd_library/base.html" %}
{% block body %}
    <h2>Library index</h2>
    <a href="{% url 'cd_library:create' %}">Add a CD</a>
    <div class="row">
        {% for cd in cds %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ cd.title }}</h5>
                <p class="card-text"> {{ cd.artist }} </p>
                <a href="{% url 'cd_library:detail' cd.pk %}">Details</a>
                <a href="{% url 'cd_library:delete' cd.pk %}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}